<div class="row contents">
 <% @ideas.each do |idea| %>
  <div class="col-md-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag idea.image_url %>
      <div class="caption">
        <h3><%= idea.title %></h3>
        <p><%= idea.contents %></p>
        <p><a href="#" class="btn btn-primary" role="button">more</a> <a href="#" class="btn btn-default" role="button">contact</a></p>
      </div>
    </div>
  </div>
  <% end %>
</div>